body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.brickWrapper, .waterWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 45vh;
}
#brick-chart-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
#water-chart-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}